# Environments
.conda/
venv/
env/
/Venv_Activation_Instruction.md

# Python / Notebooks
__pycache__/
.ipynb_checkpoints/

# Data & AI Models (Keep your repo light)
*.pdf
*.faiss
*.pkl

# OS stuff
.DS_Store
Thumbs.db